.About{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover{
  width:300px;
  height: auto;
  margin-top: 40px;
  margin-right: 20px;
}
.hover:hover{
  transition: ease-out;
}
.about{
  flex: 1;
}
.title{
  font-size: 24px;
  font-weight: bold;
}
.price{
  font-size: 18px;
  color:#666;
}
.des{
   font-size: 16px;
   color: #333;
}